.dash_card {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.section-border {
  border: solid 3px #2f528f42;
}

.card_dash_left h2 {
  position: relative;
  text-align: center;
}

.card_dash .btn.btn-success.dash_card_a {
  display: block;
  margin: 0 auto;
  width: 90px;
}

.card_dash_left {
  float: none;
}

.card_dash_right {
  float: none;
  padding: 0;
}

.card_dash_right .fa-2x {
  text-align: center;
  display: block;
  padding: 10px;
}

.authincation.dash-up {
  width: 100%;
  height: 850px;
  background-image: url(../img/sign1.png), url(../img/sign2.png),
  url(../img/sign3.png), url(../img/sign4.png) !important;
  background-position: left top, right top, left bottom, bottom right !important;
  background-repeat: no-repeat !important;
  background-size: 40%, 40%, 40%, 40% !important;
}

.auth-form {
  padding: 0 50px;
}